# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dist/
build/
.next/

# Python / Container
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env
.env.local
.env.*.local

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
